{% extends "base_html.html" %}
{% load static %}
{% block title %}MC SYSTEM{% endblock %}
{% block heroContent %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center" style="background: url({% static 'image/hero-bg.png' %});">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Face Recognition System</h1>
        <h2 data-aos="fade-up" data-aos-delay="400"> This System are created by Team UNITECH.</h2>
        <div data-aos="fade-up" data-aos-delay="600">
        
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'image/hero-img.png' %}" class="img-fluid" alt="">

      </div>
    </div>
  </div>
</section><!-- End Hero -->
{% endblock %}