{% extends "base_html.html" %}
{% load static %}
{% block title %}MC SYSTEM{% endblock %}
{% block content %}
<section id="about" class="about">

	<div class="container mt-lg-5" data-aos="fade-up">
		<div class="row gx-0">

			<div class="col-lg-6 d-flex flex-column justify-content-center " data-aos="fade-up" data-aos-delay="200"
				style="margin:auto">
				<div class="content">

					
					<h3>Enter new password</h3>

					<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
					{% if form.errors %}
					<p style="color:red; margin: 0px;">Your password didn't match. Please try again.</p>
					{% endif %}
					<form method="post">

						{% csrf_token %}
						{{form}}
						<input type="Submit" name="Update Password" class="btn bg-primary text-white mt-3">

					</form>
				</div>
			</div>
		</div>
	</div>
</section><!-- End About Section -->
<script src="{% static 'jquery.js' %}"></script>
<script>
	// $(document).ready(function(){
	// 	$("#footer").addClass("fixed-bottom");
    //  });
	var form_fields = document.getElementsByTagName('input');
	form_fields[1].className += 'form-control';
    form_fields[2].className += 'form-control';
</script>
{% endblock %}