{% extends "base_html.html" %}
{% load static %}
{% block title %}MC SYSTEM{% endblock %}
{% block content %}
<section id="about" class="about">

    <div class="container mt-lg-5" data-aos="fade-up">
        <div class="row gx-0">

            <div class="col-lg-6 d-flex flex-column justify-content-center " data-aos="fade-up" data-aos-delay="200"
                style="margin:auto">
                <div class="content">

                    {% for message in messages %}
                    <p style="color:red; margin: 0px;">
                        {{message}}
                    </p>
                    {% endfor %}
                    <h3>Password reset sent</h3>


                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                        entered. You should receive them shortly.</p>

                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with,
                        and check your spam folder.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->

{% endblock %}