{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Print</title>
</head>
<style>
    * {
        box-sizing: border-box;
    }

    .row {
        position: relative;
        width: 100%;
    }

    p {
        margin: 0;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        width: 100%;
    }

    td {
        padding-left: 10px;
    }

    th {
        text-align: center;
        padding-left: 10px;
    }
</style>

<body onload="window.print()">
    <div class="row">
        <div style="float: left;
        width: 20%;">
            <div style="text-align: center; font-size: 9px;">
                <b>
                    <p>VIISION</p>
                    <p>MABINI COLLEGES
                </b> SHALL</p>
                <p>cultivate a <b>CULTURE OF</p>
                <p>EXCELLENCE</b> in education.</p>
            </div>
        </div>
        <div style="float: left;
        width: 5%;">
            <div style="margin:5px;">
                <img src="{% static 'image/ccs.png' %}" alt="Mc-ccs_Logo" width="65px">
            </div>
        </div>
        <div style="float: left; margin-bottom: 20px;
        width: 50%; text-align: center; line-height: 20px;">
            <p><b>MABINI COLLEGES, INC</b></p>
            <p><b>COLLEGE OF COMPUTER STUDIES DEPARTMENT</b></p>
            <p>Daet, Camarines Norte</p>
            <br>
            <br>
            <!-- <p><b>HIGH SCHOOL LABORATORY</b></p>
            <p><b><i>(Flora A. Ibana Campus)</i></b></p> -->
            <br>
            <p><b>Logbooks as of {{date}}</b></p>
        </div>
        <div style="float: left;
        width: 25%;text-align: center;">
            <div style="font-size:8.5px;">
                <p><b>MISSION</b></p>
                <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp; <b>MABINI COLLEGES</b> provides quality
                    instruction, research and extension service program at all
                    educational levels at its monumental contribution to
                    national and global growth and development.</p>
                <p>CORE VALUES</p>
                <ul style="text-align: left;">
                    <li>God-fearing</li>
                    <li>Nation-loving</li>
                    <li>Earth-caring</li>
                    <li>Law-abiding</li>
                    <li>Productive, and</li>
                    <li>Locally and Globally competitive person.</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <br>
        <br>
        <table>
            <thead>
                <th>Body Temp.</th>
                <th>Full Name</th>
                <th>Address</th>
                <th>Contact Number</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div style="width: 100%;">
        <p>Prepared by:</p>
        <div style="margin-left: 70px;max-width: 300px;">
            <p style="text-decoration: underline;font-weight: bold;text-align:center;">{{prepared}}</p>
            <p style="text-align:center;text-transform: capitalize;">{{prepared_label}}</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div style="width: 100%;">
        <p>Inspected by:</p>
        <div style="margin-left: 70px;max-width: 300px;">
            <p style="text-decoration: underline;font-weight: bold;text-align:center;">{{inspected}}</p>
            <p style="text-align:center;text-transform: capitalize;">{{inspected_label}}</p>
        </div>
    </div>
</body>

</html>