{% extends "base_html.html" %}
{% load static %}
{% block title %}MC SYSTEM{% endblock %}

{% block content %}
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Change Password</li>
        </ol>
        <h2>Change Password</h2>

    </div>
</section>
<section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                  </div>
                  {% endfor %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit" class="btn btn-info text-white">
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    var form_fields = document.getElementsByTagName('input');
    form_fields[1].className += 'form-control';
    form_fields[2].className += 'form-control';
    form_fields[3].className += 'form-control';
</script>
{% endblock %}