{% extends "base_html.html" %}
{% load static %}
{% block title %}MC SYSTEM{% endblock %}

{% block content %}
<section id="about" class="about">

    <div class="container mt-lg-5" data-aos="fade-up">
        <div class="row gx-0">

            <div class="col-lg-6 d-flex flex-column justify-content-center " data-aos="fade-up" data-aos-delay="200"
                style="margin:auto">
                <div class="content text-center">
                    <p style="float: left; margin: 0px;">Please check your email address and click the link we send to complete the registration.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}